<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Calin's Weather</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
    <link rel="stylesheet" type="text/css" href="../styles/loading.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☁️</text></svg>">
</head>

<body>
    
    <header>
        <h1>Weather App</h1>
        <h2>
            <div class="slogan">
                Your weather, anywhere in the world
            </div>        

        </h2>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        

        <main>
            <!-- <section class="section-input">
                <h2>Get the latest weather updates</h2>
                    <div class="autocomplete-wrapper scrollbar" id="autocomplete-wrapper">
                        <input type="text" placeholder="Enter a city/country" id="country-input" class="search-input"/>    
                            <ul class="autocomplete-list" id="country-list">
                            <li>
                                <button>
                                    <li>Fetching Countries..</li>
                                </button>
                        </ul>  
                        <button type="submit" id="search-button" class="search-button" >Search</button>
                    </div>
            </section> -->
            <!-- <ul class="display-fav" style="font-size: 32px; margin-right: 0px" id="favorite-list">Lista</ul> -->
        </main>
        <div class="flex-card-container">
            <div class="favorites-card">
                <h1 class="fav-title">⭐Favorites⭐</h1>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn" id="sortButton">Sort Content</button>
                    <div id="myDropdown" class="dropdown-content">
                        <h1>sort alphabetically</h1>
                        <h1>sort after temperature</h1>
                    </div>
                </div>
                <ul class="fav-list" style="font-size: 32px; margin-right: 0px" id="favorite-list">
                    <h1 style="font-size: 20px; text-align: center; font-family: 'Josefin Sans'" id="loading-favorites">Loading favorites...</h1>
                </ul>
            </div>
            <div class="card" id="main-card">
                <div class="weather">
                    <h2 class="city" id="city" style="color: white">
                        Your weather, anywhere in the world
                    </h2>
                    <h3 class="time" id="time"></h3>
                    <div class="flex-container">
                        <div class="temp" id="temperature"></div>
                        <img src="" alt="" class="icon" id="icon"/>
                    </div>  
                    <div class="weather-description" id="weather-description">
                        Type any city/country in the input field below.
                    </div>
                    <div style="display: flex; justify-content: center; margin-bottom: 20px;" id="loading-div">
                    </div>
    
                    <div class="flex-container-description">    
                        <div class="humidity" id="humidity">🌸</div>
                        <div class="pressure" id="pressure">🌸</div>
                        <div class="feels-like" id="feels-like">🌸</div>    
                    </div>
                    <div class="wind" id="wind">
                    </div>
                    <section class="section-input">
                        <input type="checkbox" class="checkbox-favorite" id="favorite"/>
                        <label for="favorite" class="fav-checkbox-label">Fav</label>
                            <div class="autocomplete-wrapper scrollbar" id="autocomplete-wrapper">
                                <input type="text" placeholder="Enter a city/country" id="country-input" class="search-input"/>    
                                <!-- <ul class="autocomplete-list" id="country-list">
                                    <li>
                                        <button>
                                            <li>Fetching Countries..</li>
                                        </button>
                                </ul>  -->
                                <button type="submit" id="search-button" class="search-button" >Search</button>
                            </div>
                            <h2>Get the latest weather updates</h2>
                            <input type="checkbox" class="checkbox" checked id="checkbox"/>
                            <!-- am scris gresit fahrenheit :( -->
                            <label for="checkbox" class="ferenheit">Fahrenheit</label>             
                    </section>
                </div>
            </div>
            </div> 
            
        </div>

        <div class="five-days-forecast">
            <div class="day-of-the-week">
                <h1 class="five-day-forecast-header" id="weekDay1">Friday</h1>
                <img class="five-day-forecast-img" src="http://openweathermap.org/img/wn/01n@2x.png" id="weekImg1"/>
                <p class="five-day-forecast-temperature-min" id="day1Min">Min:</p>
                <p class="five-day-forecast-temperature-max" id="day1Max">Max:</p>
            </div>
            <div>
                <div class="day-of-the-week">
                    <h1 class="five-day-forecast-header" id="weekDay2">Friday</h1>
                    <img class="five-day-forecast-img" src="http://openweathermap.org/img/wn/01n@2x.png" id="weekImg2"/>
                    <p class="five-day-forecast-temperature-min" id="day2Min">Min:</p>
                    <p class="five-day-forecast-temperature-max" id="day2Max">Max:</p>
                </div>
            </div>
            <div>
                <div class="day-of-the-week">
                    <h1 class="five-day-forecast-header" id="weekDay3">Friday</h1>
                    <img class="five-day-forecast-img" src="http://openweathermap.org/img/wn/01n@2x.png" id="weekImg3"/>
                    <p class="five-day-forecast-temperature-min" id="day3Min">Min:</p>
                    <p class="five-day-forecast-temperature-max" id="day3Max">Max:</p>
                </div>
            </div>
            <div>
                <div class="day-of-the-week">
                    <h1 class="five-day-forecast-header" id="weekDay4">Friday</h1>
                    <img class="five-day-forecast-img" src="http://openweathermap.org/img/wn/01n@2x.png" id="weekImg4"/>
                    <p class="five-day-forecast-temperature-min" id="day4Min">Min:</p>
                    <p class="five-day-forecast-temperature-max" id="day4Max">Max:</p>
                </div>
            </div>
            <div>
                <div class="day-of-the-week">
                    <h1 class="five-day-forecast-header" id="weekDay5">Friday</h1>
                    <img class="five-day-forecast-img" src="http://openweathermap.org/img/wn/01n@2x.png" id="weekImg5"/>
                    <p class="five-day-forecast-temperature-min" id="day5Min">Min:</p>
                    <p class="five-day-forecast-temperature-max" id="day5Max">Max:</p>
                </div>
            </div>
        </div>   

        <footer>
            <p class="credits">
                Calin's Weather Map
            </p>
        </footer> 
    </div>
    

    <script type="text/javascript" src="../scripts/fetchCountries.js"></script>
    <script type="text/javascript" src="../scripts/fetchWeather.js"></script>
    <script type="text/javascript" src="../scripts/favoriteItems.js"></script>
    <script type="text/javascript" src="../scripts/getCurrentTime.js"></script>
    <script type="text/javascript" src="../scripts/dropdownMenu.js"></script>
    <script type="text/javascript" src="../scripts/fiveDayForecast.js"></script>
</body>
</html>