<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>weather</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Weather App</h1>
        <h2>
            <div class="slogan">
                Your weather, anywhere in the world
            </div>        

        </h2>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main>
            <!-- <section class="section-input">
                <h2>Get the latest weather updates</h2>
                    <div class="autocomplete-wrapper scrollbar" id="autocomplete-wrapper">
                        <input type="text" placeholder="Enter a city/country" id="country-input" class="search-input"/>    
                            <ul class="autocomplete-list" id="country-list">
                            <li>
                                <button>
                                    <li>Fetching Countries..</li>
                                </button>
                        </ul>  
                        <button type="submit" id="search-button" class="search-button" >Search</button>
                    </div>
            </section> -->
        </main>
        <div class="card">
            <div class="weather">
                <h2 class="city" id="city" style="color: white">
                    Your weather, anywhere in the world
                </h2>
                <h3 class="time" id="time"></h3>
                <div class="flex-container">
                    <div class="temp" id="temperature"></div>
                    <img src="" alt="" class="icon" id="icon"/>
                </div>  
                <div class="weather-description" id="weather-description">
                    Type any city/country in the input field below.
                </div>

                <div class="flex-container-description">    
                    <div class="humidity" id="humidity">🌸</div>
                    <div class="pressure" id="pressure">🌸</div>
                    <div class="feels-like" id="feels-like">🌸</div>    
                </div>
                <div class="wind" id="wind">
                </div>
                <section class="section-input">
                        <div class="autocomplete-wrapper scrollbar" id="autocomplete-wrapper">
                            <input type="checkbox" class="checkbox-favorite" id="favorite"/>
                            <input type="text" placeholder="Enter a city/country" id="country-input" class="search-input"/>    
                            <!-- <ul class="autocomplete-list" id="country-list">
                                <li>
                                    <button>
                                        <li>Fetching Countries..</li>
                                    </button>
                            </ul>  -->
                            <button type="submit" id="search-button" class="search-button" >Search</button>
                        </div>
                        <h2>Get the latest weather updates</h2>
                        <input type="checkbox" class="checkbox" checked id="checkbox"/>
                        <label for="checkbox" class="ferenheit">Fahrenheit</label>             
                </section>
            </div>
        </div>

        <!-- <footer>
            <p class="credits">
                Calin's Weather Map
            </p>
        </footer> -->
    </div>
    

    <script type="text/javascript" src="../scripts/fetchCountries.js"></script>
    <script type="text/javascript" src="../scripts/fetchWeather.js"></script>
    <script type="text/javascript" src="../scripts/favoriteItems.js"></script>
    <script type="text/javascript" src="../scripts/getCurrentTime.js"></script>
</body>
</html>